@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* General Reset */
body,
h1,
ul,
li {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f1e9;
  color: #333;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  /* Keeps the header fixed at the top */
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #6a4c3b;
  /* Coffee brown */
}

.nav {
  flex-grow: 1;
  text-align: center;
}

.nav-list {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #c96542;
  /* Highlight color on hover */
}

.search {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #6a4c3b;
  /* Coffee brown */
}

/* --------x------------x-------x-----------x-----------x----------------- */

/* Page1 Section */
.page1 {
  height: 100vh;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: calc(85vh - 80px);
  /* Adjust height to account for the header */
  background-color: #121212;
  /* Warm coffee shade */
}

.intro {
  flex: 1;
  padding: 100px;
}

.intro h1 {
  font-size: 3rem;
  color: #ffffff;
}

.intro h1 span {
  font-size: 2.5rem;
  color: #ffffff;
  display: block;
}

.intropic {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intropic img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

/* Icon Section */
.icon-section {
  background-color: rgb(226, 217, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (85vh - 80px));
  gap: 100px;
  padding: 40px 0;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #6F4E37;
  /* Coffee Brown */
}

.icon-item i {
  font-size: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-item p {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  /* Dark Gray */
}

.icon-item:hover i {
  color: #FFD700;
  /* Golden color on hover */
  transform: scale(1.1);
  /* Slight enlargement on hover */
}

/* --------x------------x-------x-----------x-----------x---------------------- */

/* Coffee Menu Section */
